*~
*.aab
*.ap_
*.apk
atlassian-ide-plugin.xml
bin/
/*/*/build
/*/build/
/build
build/
/captures
captures/
*.class
.classpath
com_crashlytics_export_strings.xml
config.yml
.cproject
crashlytics-build.properties
crashlytics.properties
.cxx
.cxx/
deploymentTargetDropDown.xml
*.dex
.DS_Store
*.ear
.externalNativeBuild
.externalNativeBuild/
fabric.properties
gen/
gen-external-apklibs
google-services.json
.gradle
.gradle/
!/gradle/wrapper/gradle-wrapper.jar
*.hprof
hs_err_pid*
.idea/
.idea/assetWizardSettings.xml
/.idea/assetWizardSettings.xml
.idea/caches/
/.idea/caches
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
/.idea/libraries
.idea/misc.xml
.idea_modules/
.idea/modules.xml
/.idea/modules.xml
.idea/mongoSettings.xml
.idea/.name
.idea/navEditor.xml
/.idea/navEditor.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
/.idea/workspace.xml
*.iml
*.ipr
*.iws
*.jks
*.keystore
keystore.p12
/*/local.properties
/local.properties
local.properties
*.log
misc.xml
.mtj.tmp/
.navigation/
obj/
/*/out
/out/
out/
output.json
/*/*/production
proguard/
.project
render.experimental.xml
.settings/
.signing/
*.swp
*.war
/repo/
/stats/
/tmp/
app/release/
